body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
main {
  flex-grow: 1;
}

.formulario {
  width: fit-content;
  border-radius: 19px;
  border: 1px white solid;
  padding: 20px ;


}

.input-group-text, .form-select {
  width: 98%;
  height: 25px

}